body{ 
	font-family:"微软雅黑","黑体";
}
a:hover{
	 text-decoration:none;
}
a:focus{
	color:#a98e67;
	text-decoration:none;
}
.home-h2{
	text-align:center;
	color:#fff;
	font-size:30px;
	font-weight:500;
	line-height:1em;
}
.home-h3{
	font-size:13px;
	color:#a98e67;
	line-height:1.9em;
	text-align:center;
	font-weight:600;
}
.home-p{
	font-size:18px;
	text-align:center;
	color:#3d3d3d;
	line-height:1.7em;
}
.btn-yellow{
	display:inline-block;
	padding:14px 40px;
	border:solid 2px #a98e67;
	color:#a98e67; 
	font-size:14px;
	font-weight:600;
	
} 
.btn-yellow:hover{
	background:#a98e67;
	color:#fff;
}

.navmenu{
	width:270px;
	height:100%;
	background-color:#292929;
	overflow:auto;
	position:fixed;
	left:-270px;
	top:0;
	z-index:102;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.navmenu.on{
	left:0;
}
.navmenu .list{
	list-style:none;
	padding:0;
}
.navmenu .list a{
	display:block;
	padding:10px 15px;
	color:#fff;
	font-size:14px;
	line-height:1.8em;
}
.navmenu .list  a:hover{
	color:#b89f7a;
}
.navmenu .top{
	padding:10px 0;
	border-bottom:solid 1px #525252;
}
.navmenu .top a{ color:#b89f7a}
.navmenu .top a:hover{ color:#fff;}
.navmenu i{
	border:solid 4px transparent;
	border-top-color:#fff;
	float:right;
	margin-top:10px;
}
.navmenu .list a:hover i{
	border-top-color:#b89f7a;
}
.navmenu .list ul{
	padding:0;
	display:none;
}
.navmenu .list ul a{
	padding:5px 0 5px 25px;
	color:#aaa;
}
.navmenu .list ul a:hover{
	color:#b89f7a;
}

.bg{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	position:fixed;
	left:0;
	top:0;
	z-index:101;
	display:none;
}


.header{ 
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.3);
	box-shadow:0 1px 5px rgba(0,0,0,0.3);
	width:100%;
	background-color:#fff;
	padding:15px 0;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	transition:0.3s;
}
.menu{
	width:30px;
	text-align:center;
	cursor:pointer; 
	margin:15px 10px;
}
.menu img{
	width:100%;
	opacity:0.7;
}
.menu img:hover{
	opacity:1;
}
.menu span{
	font-size:12px;
}

.logo{
	display:block;
	width:72px;
	margin:0 auto;
}
.logo img{
	width:100%;
}
.header.on{
	padding:0px;
}
.header.on .menu{
	margin:5px 10px;
}
.header.on .logo{
	width:50px;
}
.header.on .callout{
	margin:5px 10px;
	font-size:14px;
}


.callout{
	font-size:16px;
	margin:15px 10px;
	color:#4e4e4e;
}
.callout a{
	color:#b89f7a;
	font-weight:600;
	font-size:14px;
}
.callout a:hover{ 
	color:#967a50;
}

.banner{
	position:relative;
	margin-top:100px;
	display:block;
}
.banner img{
	width:100%;
	max-width:100%;
}
.banner span{
	width:110px;
	height:50px;
	position:absolute;
	top:30%;
	left:50%;
	margin-left:-55px;
	background-color:#b89f7a;
	color:#fff;
	font-size:16px;
	font-weight:500;
	letter-spacing:1px;
	text-align:center;
	line-height:50px;
}
.banner span:hover{
	background-color:#967a50;
}
.club{
	background-color:#1f1f1f;
	width:100%;
	overflow:hidden;
}
.club .pic{
	width:100%;
}
.club .container{
	padding:80px 100px;
}
.club .home-p{
	padding:20px 0 70px;
	color:#999;
}
.club .buttons{
	text-align:center;
	font-size:0;
}
.club .buttons a{
	margin:0 15px;
}

.app{
	height:784px;
	overflow:hidden;
	position:relative;
	background:#e0e0e0;
	width:100%; 
}
.app .container{
	height:100%;
	position:relative;
	z-index:1;
}
.app .mytable{
	display:table;
	width:55%;
	height:100%;
}
.app .cell{
	display:table-cell;
	vertical-align:middle;
}
.app h3{
	text-align:left;
}
.app p{
	font-size:26px;
	line-height:1.8em;
	color:#3d3d3d;
	text-align:justify;
	padding:20px 0 140px;
}
.app .buttons{
	font-size:0px;
}
.app .buttons a{
	margin-right:15px;
}
.app .pic{
	max-width:49%;
	position:absolute;
	right:0;
	bottom:80px;
}

.activity{
	width:100%;
	overflow:hidden;
}
.activity .box{
	dispaly:block;
	padding:0;
	position:relative;
}
.activity .box img{
	width:100%;
}
.activity .text{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;

}
.activity .mytable{
	display:table;
	height:100%;
	width:100%;
	
}
.activity .cell{
	display:table-cell;
	vertical-align:middle;
}
.barista{
	padding:80px 0;
	background-color:#F5F5F5;
}
.barista .home-h2{
	color:#3D3D3D;
}
.barista hr{
	width:150px;
	border-top-color:#d6d6d6;
	margin:30px auto 25px;
}
.barista .title p{
	color:#525252;
	font-size:18px;
}
.barista .swiper-container{
	margin-top:60px; 
	padding-bottom:50px;
}
.barista .swiper-slide{
	width:280px;
}
.barista .swiper-slide img{
	width:100%;
}
.barista .swiper-slide .text{
	position:absolute;
	bottom:20px;
	left:20px;
	line-height:1.7em;
}
.barista .swiper-slide .text p{
	color:#fff;
	font-size:18px;
}
.barista .swiper-pagination-bullet{
	width:10px;
	height:10px;
	opacity:0.6;
}
.barista .swiper-pagination-bullet-active{
	background:#ae9061;
	opacity:1;
}
.reserve{
	padding:40px 0;
	background-color:#060606;
}
.reserve .mytable{
	display:table;
	height:100%;
	width:100%;
}
.reserve .cell{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.reserve .cell p{
	font-size:26px;
	color:#707070;
	line-height:1.7em;
	margin:20px auto 40px;
}
.reserve .buttons{
	font-size:0;
} 
.reserve .buttons a{
	margin:0 15px;
}

.footer{ background:#292929; color:#a3a3a3; padding:40px 0; line-height:1.6em;}
.footer .icon{ width:40px; height:40px; display:block; float:right; }
.footer .weixin{ background:url(../images/wechat.png)}
.footer .weibo{ background:url(../images/weibo.png); margin-left:20px;}
.footer .bei{ color:#a3a3a3; background:url(../images/icpicon.png) no-repeat left center; padding-left:25px;}

@media(max-width:768px){
	.club .pic{width:auto;height:135px;}
	.club .container{padding:30px 35px 60px;}
	.club .buttons a{width:100%;margin:10px 0;}
	
	.app{height:auto;padding:60px 0;}
	.app .mytable{width:100%;}
	.app p{padding:20px 0 0px;}
	.app .pic{max-width:none;width:90%;position:static;}
	
	.barista .swiper-container{ margin-top:40px;}
	
	.reserve .cell{display:block;padding:0 15px;-webkit-box-sizing:border-box;box-sizing:border-box;}
	.reserve .cell img{width:80%;}
	.reserve .cell p{padding:0 15px;-webkit-box-sizing:border-box;box-sizing:border-box;}
	.reserve .buttons a{width:100%;margin:10px 0;}
}







